<?xml version="1.0" encoding="utf-8"?>
<odoo>
		
 	<menuitem name="Pet Care"
		id="pet_care_root"
		sequence="1" /> 
		
	<menuitem name="Pet Owners"
		id="menu_pet_owners"
		parent="pet_care_management_shine.pet_care_root"
		action="contacts.action_contacts"
		groups="group_pet_care_admin"
		sequence="1" 
		
		/>
		
	<menuitem name="Pet"
		id="menu_pettsss"
		parent="pet_care_management_shine.pet_care_root"
		action="pet_care_management_shine.action_pet"
		groups="pet_care_management_shine.group_pet_user,group_pet_care_admin"
		sequence="2" />	
		
		
		<menuitem name="Pet Service"
		id="menu_pet_service"
		parent="pet_care_management_shine.pet_care_root"
		action="sale.product_template_action"
		groups="pet_care_management_shine.group_pet_user,pet_care_management_shine.group_pet_care_admin"
		sequence="3" />	
		
		
		<menuitem name="Service Booking"
		id="menu_service"
		parent="pet_care_management_shine.pet_care_root"
		action="sale.action_orders"
		groups="pet_care_management_shine.group_pet_user,group_pet_care_admin"
		sequence="4" />	
		
		
		
		<menuitem name="quotation"
		id="menu_quatation"
		parent="menu_service"
		action="sale.action_quotations_with_onboarding"
		sequence="1"
		 />	
		
		<menuitem name="Service Booking"
		id="menu_service_booking"
		parent="menu_service"
		action="sale.action_orders"
		/>	
		
		
		
		
		<menuitem name="Invoice"
		id="menu_pet_invoice"
		parent="pet_care_management_shine.pet_care_root"
		action="account.action_move_out_invoice"
		groups="group_pet_care_admin"
		sequence="5" />	
		
		
		
		<menuitem name="ServiceLog"
		id="menu_servivelogs"
		parent="pet_care_management_shine.pet_care_root"
		action="action_servicelogg"
		groups="group_pet_care_admin"
		
		sequence="6" />	
		
		
		<menuitem name="Employee"
		id="menu_employee"
		parent="pet_care_management_shine.pet_care_root"
		action="hr.open_view_employee_list_my"
		groups="group_pet_care_admin"
		sequence="7" />	
		
		
		
		
		
		
			
	
	
	
		
</odoo>